@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #2d3436;
  font-size: 14px;
  line-height: 22px;
  color: #ecf0f1;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.medium {
  font-weight: 500;
  font-size: 18px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .sidebar {
  width: 300px;
  background: #3498db;
}

.resume .sidebar .profile img{
  width: 100%;
  height: 100%;
}

.resume .sidebar .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 15px;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #dfe6e9;
}

.resume .sidebar .resume_item:last-child {
  border-bottom: 0px;
}

.resume .sidebar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resume .sidebar ul li:last-child {
  margin-bottom: 0;
}

.resume .sidebar ul li .icon {
  width: 30px;
  height: 30px;
  background: #dfe6e9;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  color: #2d3436;
}

.resume .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.resume .sidebar ul li .data {
  color: #dfe6e9;
}

.resume .sidebar .data a {
  color: #dfe6e9;
}

.resume .sidebar .skills ul li {
  justify-content: space-between;
}

.resume .sidebar .skills ul li .skill_name {
  width: 25%;
}

.resume .sidebar .skills ul li .skill_level {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #0984e3;
  position: relative;
}

.resume .sidebar .skills ul li .skill_level span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #dfe6e9;
}

.resume .sidebar .projects .project_click {
  text-align: center;
}

.resume .sidebar .projects .project_click button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #dfe6e9;
  background: none;
  border: 4px solid;
  cursor: pointer;
  position: relative;
}

.resume .sidebar .projects .project_click button::before,
.resume .sidebar .projects .project_click button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #3498db;
  transform: skewX(50deg);
  transition: .3s linear;
}

.resume .sidebar .projects .project_click button::before {
  top: -4px;
  left: 10%
}

.resume .sidebar .projects .project_click button::after {
  bottom: -4px;
  right: 10%
}

.resume .sidebar .projects .project_click button:hover::before {
  left: 80%
}

.resume .sidebar .projects .project_click button:hover::after {
  right: 80%
}
.resume .resume_main {
  width: 500px;
  background: #dfe6e9;
  padding: 25px;
}

.resume .resume_main .title {
  color: #0984e3;
}

.resume .resume_main {
  color: #2d3436;
}

.resume .resume_main .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #0984e3;
}

.resume .resume_main .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_main .work_exp ul,
.resume .resume_main .education ul,
.resume .resume_main .excellence ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_main ul li {
  position: relative;
}

.resume .resume_main ul li .dates {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.resume .resume_main ul li .info {
  margin-bottom: 20px;
}

.resume .resume_main .excellence ul li .info {
  margin-bottom: 10px;
}

.resume .resume_main ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_main .work_exp ul li::before,
.resume .resume_main .education ul li::before,
.resume .resume_main .excellence ul li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #74b9ff;
}

.resume .resume_main .work_exp ul li::after,
.resume .resume_main .education ul li::after,
.resume .resume_main .excellence ul li::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: calc(100% + 12px);
  background: #74b9ff;
}

.resume .resume_main .excellence ul li::after {
  height: calc(100% + 3px)
}

.resume .resume_main .excellence ul li:last-child::after {
  height: 0;
}
